*, *::before, *::after {
  box-sizing: border-box; 
}

body {
  margin: 0;
  text-align: center;
  background-color: $third-color;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  background-color: $second-color;
}