.header {
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: local;
  position: relative;
  .header-inner {
    position: absolute;
    width: 100vh;
    left: 50%;
    transform: translateX(-50%);

  }
}

.menu {
  margin-bottom: 50px;
  text-align: center;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin-right: 36px;
      a {
        color: $first-color;
        text-decoration: none;
        font-weight: bold;
      }
      a:hover {
        color: $second-color;
      }
    }
  }
}


.subpage {
  display: none;
}
.subpage.active {
  display: block;
}

.logo {
  text-align: center;
  width: 100vh;
}
.plan {
  position: relative;
  .plan-img {
    position:absolute;
    left: -30vh;
    top: -50vh;
    transform: scale(0.5);
    z-index: 1;
  }
  .plan-text {
    position:absolute;
    z-index: 2;
    top: -15vh;
    left: 30vh;
  }
}
.minimalize {
  position: relative;
  .minimalize-img {
    left: -5vh;
    top: -12vh;
    position: absolute;
    transform: scale(0.5);
    z-index: 1;
  }
  .minimalize-text {
    left: 13vh;
    top: 13vh;
    position: absolute;
    z-index: 2;
  }
}

.footer {
  position: absolute;
  padding: 5px;
  z-index: 3;
  margin-left: 50%;
  bottom: -480px;
  background-color: $third-color;
}
