body {
  
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 90px;
  color: $first-color;
  letter-spacing: 20px;
  margin-bottom: 0;
}

h2 {
  font-size: 35px;
  color: $first-color;
  text-align: right;
  letter-spacing: 5px;
  margin:0;
  padding:0;
}

h3 {
  font-size: 30px;
  color: $first-color;
}

h4 {
  font-size: 20px;
  color: $first-color;
}
.minimalize-text p, .plan-text p {
  font-size: 15px;
  color: $first-color;
  letter-spacing: 2px;
  line-height: 0.5px;
}
.footer_text {
  font-size: 10px;
  color: $first-color;
  letter-spacing: 2px;
}