/* Tutaj zmienne typu kolor, czcionka, rozmiar itd */

/* Colors */
$color-dark: #131313;
$color-light: #fff;
$color-main: #c24e00;
$color-success: #2ecc71;
$color-warning: #e74c3c;

/* Fonts*/
$font-main: 'Source Sans Pro', sans-serif;
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;

/* Basics */
$basic-field-size: 40px;
